requests
pycryptodome
aiohttp
certifi
nest_asyncio
werkzeug
loguru
pillow
platformdirs
fastapi
flask
brotli
beautifulsoup4
selenium-wire
pygame
pytorch
colorma
tkinter
cv2
os
csv
numpy
PIL
pandas
datetime
time
